#summary-toc {
  overflow-y: scroll;
  height: 75vh;
  position: sticky;
  top: 5vh;
  padding-right: 2rem;
}

#summary-toc li > a {
  display: block;
}

.main-content a[target="_blank"]::before {
  content: "\29C9 ";
}

.content pre {
  white-space: pre-wrap !important;
}
